<% provide :page_title, render_action_i18n(:list, Partner) %>
<% content_for :page_actions do %>
  <div class="float-btns" data-action="<%= "#{action_name}" %>">
    <%= link_to(fa_icon(:plus, text: t('btn.new')), new_admin_partner_path, class: 'btn btn-primary float-end') if policy(Partner).new? %>
  </div>
<% end %>

<% if policy(Partner).sort? %>
  <p class="text-muted"><%= t('sort_hint', model: Partner.model_name.human) %></p>
<% end %>

<div class="index-search-form">
  <%= search_form_for @q, url: admin_partners_path do |f| %>
    <div class="row g-3">
      <div class="col-md-3 mb-1">
        <%= f.select :status_eq, options_for_select(Partner::STATUS.map { |k,v| [t(k, scope: 'simple_form.options.partner.status'), k] }, @q.status_eq), {include_blank: t('search_form.status')}, class: 'form-select' %>
      </div>
      <div class="col-md-3 mb-1">
        <%= f.search_field :name_or_name_en_cont, placeholder: t('search_form.keywords'), class: 'form-control' %>
      </div>
      <div class="col-md-3 mb-1">
        <%= f.submit t('action.search'), class: 'btn btn-primary', data: { disable_with: t('action.searching') } %>
        <%= link_to t('action.reset'), request.path, class: 'btn btn-light' %>
      </div>
    </div>
  <% end %>
</div>

<table class="table index-list">
  <thead>
    <tr>
      <th class="check-column"></th>
      <th class="column-primary"><%= Partner.human_attribute_name(:image) %></th>
      <th><%= Partner.human_attribute_name(:image_en) %></th>
      <th><%= Partner.human_attribute_name(:name) %></th>
      <th><%= Partner.human_attribute_name(:status) %></th>
      <th><%= Partner.human_attribute_name(:en_status) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody <%= 'class=sortable-items data-sort-path=/partners/sort' if policy(Partner).sort? %>>
    <% @partners.each do |partner| %>
      <%= content_tag :tr, id: dom_id(partner), class: "sort-#{dom_class(partner)}", data: { item: dom_id(partner) } do %>
        <%= handle_icon %>
        <td data-colname="<%= Partner.human_attribute_name(:image) %>" class="column-primary">
          <%= image_tag partner.image.variant(resize_to_fill: [85, 40]).processed if partner.image.attached? %>
          <button class="btn" type="button" data-mobile="<%= dom_id(partner) %>" class="mobile-collapse">
            <span><i class="fa-solid fa-caret-down"></i></span>
          </button>
        </td>
        <td data-colname="<%= Partner.human_attribute_name(:image_en) %>">
          <%= image_tag partner.image_en.variant(resize_to_fill: [85, 40]).processed if partner.image_en.attached? %>
        </td>
        <td data-colname="<%= Partner.human_attribute_name(:name) %>">
          <%= partner.show_name %>
        </td>
        <td data-colname="<%= Partner.human_attribute_name(:status) %>"><%= partner.status %></td>
        <td data-colname="<%= Partner.human_attribute_name(:en_status) %>"><%= partner.en_status %></td>
        <td class="index-table-action text-end">
          <%= link_to t('btn.show'), admin_partner_path(partner),
            class: 'btn btn-primary me-2' if policy(partner).show? %>
          <div class="dropdown d-inline-block">
            <a href="#" class="link-dark text-decoration-none btn dropdown-more" id="edit_<%= dom_id(partner) %>" data-bs-toggle="dropdown" aria-expanded="false">
              <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="edit_<%= dom_id(partner) %>">
              <%= link_to t('btn.edit'), edit_admin_partner_path(partner), class: 'dropdown-item' if policy(partner).edit? %>
            </ul>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="table-footer text-black-50">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <%== pagy_info(@pagy) %>
</div>
