<footer class="footer">
  <div class="container footer-container">
    <footer class="site-footer">
  <div class="footer-banner">
    <img class="hot-air" src="<%= image_path('hot-air.png') %>" alt="hot-air">
    <div class="banner-text">
      <p class="slogan">開啟全球嶄新視野 多元身分安心保障</p>
      <h2>立即預約諮詢</h2>
    </div>
    <div class="banner-btn">
      <a href="#" class="btn-primary">立即諮詢 <i class="fas fa-arrow-right"></i></a>
    </div>
    <img class="paper-corner" src="<%= image_path('flying.png') %>" alt="flying.png">
  </div>

  <div class="footer-main">
    <div class="footer-left">
      <%= image_tag 'logo2.png', alt: 'EZGO Logo', class: 'footer-logo' %>
      <ul class="contact-info">
        <li><img src="<%= image_path('phone-arrow-right') %>" alt="flying.png"> 02 7707 0699</li>
        <li><img src="<%= image_path('mail.png') %>" alt="flying.png"> info@ezgoimmi.com</li>
        <li><img src="<%= image_path('map.png') %>" alt="flying.png"> 台北市大安區忠孝東路四段270號17樓</li>
      </ul>
    </div>

    <div class="footer-right">
      <ul class="footer-links">
        <li><a href="#">關於我們</a></li>
        <li><a href="#">移民國家</a></li>
        <li><a href="#">外僑學校</a></li>
        <li><a href="#">最新消息</a></li>
        <li><a href="#">聯絡我們</a></li>
      </ul>
      <div class="footer-license">
        <span class="license">註冊登記字號第C0329號</span><span class="plus">+</span>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 易齊國際移民有限公司. All rights reserved.
  </div>
</footer>

  </div>
</footer>
