<div class="cloud-bg">
  <%= image_tag 'cloud-bg.png', alt: '易齊國際' %>
</div>
<div class="about-header">
  <%= image_tag 'balloon.png', alt: '易齊國際', style:'width: 54px;margin-bottom: 20px;' %>
  <h1>最新消息</h1>
</div>
<div class="news-section section">
    <div class="container">
        <div class="news-tabs">
            <div class="tab active" data-tab="all">全部公告</div>
            <div class="tab" data-tab="immigration">移民公告</div>
            <div class="tab" data-tab="school">外僑學校</div>
            <div class="tab" data-tab="success">成功案例</div>
        </div>
        <div class="tab-content-wrap">
            <div class="tab-content-news active" data-tab="all">
                 <div class="news-list">
                    <% 5.times do %> 
                        <div class="news-item">
                        <div class="news-date">
                            <div class="d-flex">
                            <span class="day">13</span>
                            <div class="date-wrap">
                                <span class="year">2025</span>
                                <span class="month">02</span>
                            </div>
                            </div>
                            <span class="tag">美國移民</span>
                        </div>
                        <div class="news-image">
                            <%= image_tag 'news-1.png', alt: '新聞圖' %>
                        </div>
                        <div class="news-content">
                            <h3>美國國務院公告2025年2月簽證排期 表A&表B</h3>
                            <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                        </div>
                        <div class="news-more">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                        </div>
                        </div>
                    <% end %>
                 </div>
                 <div class="pagination-container">
                    <button class="page-arrow prev"><%= image_tag 'arrow-left.png', alt: '易齊國際' %></button>
                    <ul class="page-list">
                            <li class="page-number active">1</li>
                            <li class="page-number">2</li>
                            <li class="page-number">3</li>
                            <li class="page-number">4</li>
                            <li class="page-number">5</li>
                            <li class="dots">...</li>
                            <li class="page-number">10</li>
                        </ul>
                    <button class="page-arrow next"><%= image_tag 'arrow-right.png', alt: '易齊國際' %></button>
                </div>
            </div>
            <div class="tab-content-news" data-tab="immigration">
                <div class="news-list">
                    <% 5.times do %> 
                        <div class="news-item">
                        <div class="news-date">
                            <div class="d-flex">
                            <span class="day">23</span>
                            <div class="date-wrap">
                                <span class="year">2025</span>
                                <span class="month">02</span>
                            </div>
                            </div>
                            <span class="tag">美國移民</span>
                        </div>
                        <div class="news-image">
                            <%= image_tag 'news-1.png', alt: '新聞圖' %>
                        </div>
                        <div class="news-content">
                            <h3>美國國務院公告2025年2月簽證排期 表A&表B</h3>
                            <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                        </div>
                        <div class="news-more">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                        </div>
                        </div>
                    <% end %>
                 </div>
                 <div class="pagination-container">
                    <button class="page-arrow prev"><%= image_tag 'arrow-left.png', alt: '易齊國際' %></button>
                    <ul class="page-list">
                            <li class="page-number active">1</li>
                            <li class="page-number">2</li>
                            <li class="page-number">3</li>
                            <li class="page-number">4</li>
                            <li class="page-number">5</li>
                            <li class="dots">...</li>
                            <li class="page-number">10</li>
                        </ul>
                    <button class="page-arrow next"><%= image_tag 'arrow-right.png', alt: '易齊國際' %></button>
                </div>
            </div>
            <div class="tab-content-news" data-tab="school">
                <div class="news-list">
                    <% 5.times do %> 
                        <div class="news-item">
                        <div class="news-date">
                            <div class="d-flex">
                            <span class="day">03</span>
                            <div class="date-wrap">
                                <span class="year">2025</span>
                                <span class="month">02</span>
                            </div>
                            </div>
                            <span class="tag">美國移民</span>
                        </div>
                        <div class="news-image">
                            <%= image_tag 'news-1.png', alt: '新聞圖' %>
                        </div>
                        <div class="news-content">
                            <h3>美國國務院公告2025年2月簽證排期 表A&表B</h3>
                            <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                        </div>
                        <div class="news-more">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                        </div>
                        </div>
                    <% end %>
                 </div>
                 <div class="pagination-container">
                    <button class="page-arrow prev"><%= image_tag 'arrow-left.png', alt: '易齊國際' %></button>
                    <ul class="page-list">
                            <li class="page-number active">1</li>
                            <li class="page-number">2</li>
                            <li class="page-number">3</li>
                            <li class="page-number">4</li>
                            <li class="page-number">5</li>
                            <li class="dots">...</li>
                            <li class="page-number">10</li>
                        </ul>
                    <button class="page-arrow next"><%= image_tag 'arrow-right.png', alt: '易齊國際' %></button>
                </div>
            </div>
            <div class="tab-content-news" data-tab="success">
                <div class="news-list">
                    <% 5.times do %> 
                        <div class="news-item">
                        <div class="news-date">
                            <div class="d-flex">
                            <span class="day">23</span>
                            <div class="date-wrap">
                                <span class="year">2025</span>
                                <span class="month">03</span>
                            </div>
                            </div>
                            <span class="tag">美國移民</span>
                        </div>
                        <div class="news-image">
                            <%= image_tag 'news-1.png', alt: '新聞圖' %>
                        </div>
                        <div class="news-content">
                            <h3>美國國務院公告2025年2月簽證排期 表A&表B</h3>
                            <p>我們擁有一支由資深移民律師、專業顧問和案件處理專家組成的專業團隊。在您的移民旅程中，從最初的文件準備到最終的安家落戶...</p>
                        </div>
                        <div class="news-more">
                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                        </div>
                        </div>
                    <% end %>
                 </div>
                 <div class="pagination-container">
                    <button class="page-arrow prev"><%= image_tag 'arrow-left.png', alt: '易齊國際' %></button>
                    <ul class="page-list">
                            <li class="page-number active">1</li>
                            <li class="page-number">2</li>
                            <li class="page-number">3</li>
                            <li class="page-number">4</li>
                            <li class="page-number">5</li>
                            <li class="dots">...</li>
                            <li class="page-number">10</li>
                        </ul>
                    <button class="page-arrow next"><%= image_tag 'arrow-right.png', alt: '易齊國際' %></button>
                </div>
            </div>
        </div>
    </div>
</div>

