<section class="school-hero">
  <div class="hero-container  container ">
    <div class="logo-wrapper">
      <%= image_tag 'star-deco.png', alt: '易齊國際', style: 'position: absolute; top: -2.2rem; left: -1.8rem; width: 145px; height: auto; z-index: 11;' %>
      <div class="logo-box">
        <%= image_tag 'school-logo.png', alt: '易齊國際' %>
      </div>
    </div>
    <div class="hero-text">
      <h1>Taipei American School</h1>
      <h2>台北美國學校</h2>
      <a href="#" class="btn-primary">學校官網 <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</section>
<section class="school-content">
  <div class="school-container container ">
    <div class="school-info">
      <ul class="info-list">
        <li><span class="icon"> <%= image_tag 'phone-arrow-right.png', alt: '易齊國際' %></span> 02 8145 9007 註冊組分機51</li>
        <li><span class="icon"> <%= image_tag 'mail.png', alt: '易齊國際' %></span> admissions@tes.tp.edu.tw</li>
        <li><span class="icon"> <%= image_tag 'map.png', alt: '易齊國際' %></span> 小學校區 – 11158 臺北市士林區福國路 99 號</li>
        <li><span class="icon"> <%= image_tag 'map.png', alt: '易齊國際' %></span> 中學校區 – 11193 臺北市士林區建業路 31 號</li>
        <li><span class="icon"> <%= image_tag 'hat.png', alt: '易齊國際' %></span> 招生年級 – 幼兒園至 12 年級</li>
      </ul>
      <p class="description">
        台北歐洲學校（TES）成立於1990年，為幼稚園至12年級的學生提供多語種和跨文化的教育。學校的教學理念強調全球公民教育，培養學生的批判性思維和創造力。TES提供英語、法語和德語三種課程，涵蓋國際學校的核心課程和IB課程。學生畢業後有廣泛的升學機會，經常被全球頂尖大學錄取，特別是歐洲和北美的高等教育機構。
      </p>
    </div>
    <div class="school-map">
       <%= image_tag 'map-placeholder.png', alt: '易齊國際' %>
    </div>
  </div>

  <div class="related-section">
    <div class="section-title">
      <%= image_tag 'decor-2.png', alt: '易齊國際', style: 'margin-bottom: 16px; width: 17px; height: auto;' %>
      <h2>外僑學校家長也看過</h2>
    </div>
    <div class="passport-recommend">
      <div class="recommend-container container">
        <div class="recommend-item">
          <%= image_tag 'img1.png', alt: '易齊國際' %>
          <p><span>01</span> 萬那杜護照</p>
        </div>
        <div class="recommend-item">
          <%= image_tag 'img2.png', alt: '易齊國際' %>
          <p><span>02</span> 多米尼克護照</p>
        </div>
        <div class="recommend-item">
          <%= image_tag 'img3.png', alt: '易齊國際' %>
          <p><span>03</span> 聖露西亞護照</p>
        </div>
        <div class="recommend-item">
          <%= image_tag 'img4.png', alt: '易齊國際' %>
          <p><span>04</span> 馬爾他護照</p>
        </div>
      </div>
    </div>

  </div>
</section>
