<%= simple_form_for([:admin, @milestone], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @milestone.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h4>
      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs-group">
    <div class="card mb-4">
      <div class="tabs-btn">
        <a href="#settings" class="tab active">共用設定</a>
        <a href="#zh-hant" class="tab">中文</a>
        <a href="#en" class="tab">英文</a>
      </div>
    </div>
    <div class="tabs-content card">
      <div class="tab-content card-body active" id="settings">
        <%= f.input :date, as: :date, start_year: 1999,  discard_day: true %>
        <%= f.input :image, direct_upload: true,
          input_html: {
            class: 'dropify',
            data: {
              'default-file': (url_for(@milestone.image) if @milestone.image.attached?),
              'max-file-size': '5M',
              'allowed-file-extensions': 'png jpg jpeg gif bmp',
            }
          }
        %>
      </div>

      <div class="tab-content card-body" id="zh-hant">
        <%= f.input :status, as: :radio_buttons, wrapper: :vertical_collection_inline, collection: Milestone::STATUS.keys %>
        <%= f.input :title %>
        <%= f.input :alt_zh_tw %>
        <%= f.input :content, as: :text, input_html: { rows: 5 } %>
      </div>

      <div class="tab-content card-body" id="en">
        <%= f.input :en_status, as: :radio_buttons, wrapper: :vertical_collection_inline, collection: Milestone::STATUS.keys %>
        <%= f.input :title_en %>
        <%= f.input :alt_en %>
        <%= f.input :content_en, as: :text, input_html: { rows: 5 } %>
      </div>
    </div>
  </div>
  <div class="float-btns form-actions">
    <div>
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to t('btn.show'),
          admin_milestone_path(@milestone),
          class: 'btn btn-light' if controller.action_name == 'edit' && policy(@milestone).show? %>
    </div>
    <%= link_to fa_icon(:"trash-can"), admin_milestone_path(@milestone),
        class: 'btn btn-danger-light float-end ms-2 single-icon',
        method: :delete,
        data: { confirm: t('confirm_message') } if controller.action_name == 'edit' &&  policy(@milestone).destroy? %>
  </div>
<% end %>
